*.swp
*~
.DS_Store
.exe
.merlin
.native
/Version.ml
/herd-www/www/catalogue
/herd-www/www/weblib
_build/
catIncludes.ml
herdtools7.install
jerd.byte
jerd.js
asllib/doc/ASLSemanticsLines.tex
asllib/doc/ASLTypingLines.tex
asllib/doc/ASLTypeSatisfactionLines.tex
asllib/doc/*.aux
asllib/doc/*.log
asllib/doc/*.out
asllib/doc/*.pdf
asllib/doc/*.synctex.gz
asllib/doc/*.toc
asllib/doc/*.fls
asllib/doc/*.fdb_latexmk
