#RISCV on qemu with cache handling instructions
size_of_test = 5k
number_of_run = 200
avail = 2
limit = true
memory = direct
stride = 1
affinity = none
#Cross compilation
gcc = riscv64-linux-gnu-gcc
ccopts = -O2 -march=rv64g_zicbop_zicbom
linkopt = -static
#crossrun
crossrun = qemu:qemu-riscv64
carch = RISCV
