conf cpp11.cfg
showevents memfence
include ../../../papier/hsa-cats
bell hsa.bell
#show races as a symetric relation
doshow hsa-race
symetric hsa-race
edgeattr hsa-race,color,darkgreen
#show dependences
doshow ldo
edgeattr ldo,color,indigo
#show coh
doshow coh
edgeattr coh,color,orange3
#show hhb
doshow hhb
edgeattr hhb,color,indigo
#Show SC orders
#doshow S,SWI,SWG,SAGENT,SWAVE,SSYSTEM
doshow SWG,SAGENT,SSYSTEM
edgeattr SWI,color,violetred2
edgeattr SWG,color,violetred2
edgeattr SWAVE,color,violetred2
edgeattr SAGENT,color,violetred2
edgeattr SSYSTEM,color,violetred2
boxscale 0.5
