/*.pstex
/*.pstex_t
/*.fig
/*.tar
/BASIC-img/
/MPPOSS-img/
/html/
/pdf/

# There are some files with these extensions in git, so we can't use wildcards
# @todo Use a separate build directory and .gitignore it instead of ignoring patterns.
/6.SB.dot
/CoRWR.dot
/IRIW+lwsyncs+APOIL.dot
/IRIW+syncs+APOIL.dot
/LB+lwsync+addr.dot
/MP+X000.dot
/MP+X001.dot
/MP+lwsync+addr-po.dot
/MP+lwsync+addr-po001.dot
/MP+lwsync+addr.dot
/RW.dot
/SB+CLUSTER.dot
/SB+COLUMNS.dot
/SB+FREE.dot
/SB+L-00.dot
/SB+L-01.dot
/SB+L-02.dot
/SB+L-03.dot
/SB+L-04.dot
/SB+L-05.dot
/SB+L.dot
/SB+OK-00.dot
/SB+OK-01.dot
/SB+OK-02.dot
/SB+OK-03.dot
/SB+OK-04.dot
/SB+OK-05.dot
/SB+OK.dot
/SB+SC.dot
/SB+SQUISHED.dot
/SB+TSO.dot
/SB+mfences+CLUSTER.dot
/SB+mfences+FREE.dot
/SB+mfences+GHB.dot
/SB+mfences.dot
/SB+rfi-pos+BIS.dot
/SB+rfi-pos+TER.dot
/SB+rfi-pos.dot
/SB-00.dot
/SB-01.dot
/SB-02.dot
/SB-03.dot
/SB.dot
/W+RR.dot
/W+RW.dot
/WR.dot
/WRC.dot
/WW.dot
/2+2WLocal+DOT.png
/6.SB.png
/CoRWR.png
/DetourR.png
/DetourRW.png
/DetourW.png
/DetourWW.png
/IRIW+lwsyncs+APOIL.png
/IRIW+syncs+APOIL.png
/IRIW.png
/LB+lwsync+addr.png
/LB-kinds.png
/LB.png
/MP+X000.png
/MP+X001.png
/MP+lwsync+addr-po.png
/MP+lwsync+addr-po001.png
/MP+lwsync+addr.png
/RW.png
/SB+CLUSTER.png
/SB+COLUMNS.png
/SB+FREE.png
/SB+L-00.png
/SB+L-01.png
/SB+L-02.png
/SB+L-03.png
/SB+L-04.png
/SB+L-05.png
/SB+OK-00.png
/SB+OK-01.png
/SB+OK-02.png
/SB+OK-03.png
/SB+OK-04.png
/SB+OK-05.png
/SB+SC.png
/SB+SQUISHED.png
/SB+TSO.png
/SB+mfences+CLUSTER.png
/SB+mfences+FREE.png
/SB+mfences+GHB.png
/SB+mfences.png
/SB+rfi-pos+BIS.png
/SB+rfi-pos+TER.png
/SB+rfi-pos.png
/SB-00.png
/SB-01.png
/SB-02.png
/SB-03.png
/W+RR.png
/W+RW.png
/WR.png
/WRC.png
/WW.png
/classic-sc.png
/classic.png
/iriw-internal.png
/iriw-small-caps.png
/ws-sc.png
/apoil.cfg
/dragon.cfg
/hpcx.cfg
/saumur.cfg
/trimslice.cfg
/BASIC.tex
/MPPOSS.tex
/version.tex
/herd.cat
/minimal.cat
/uniproc.cat
/x86tso.cat
