*-img
*-src
*~
html
pdf
*.cat
BASIC.tex
MPPOSS.tex
version.tex
*.tar
*.cfg
6.SB.dot
CoRWR.dot
IRIW+lwsyncs+APOIL.dot
IRIW+syncs+APOIL.dot
LB+lwsync+addr.dot
MP+X000.dot
MP+X001.dot
MP+lwsync+addr-po.dot
MP+lwsync+addr-po001.dot
MP+lwsync+addr.dot
RW.dot
SB+CLUSTER.dot
SB+COLUMNS.dot
SB+FREE.dot
SB+L-00.dot
SB+L-01.dot
SB+L-02.dot
SB+L-03.dot
SB+L-04.dot
SB+L-05.dot
SB+L.dot
SB+OK-00.dot
SB+OK-01.dot
SB+OK-02.dot
SB+OK-03.dot
SB+OK-04.dot
SB+OK-05.dot
SB+OK.dot
SB+SC.dot
SB+SQUISHED.dot
SB+TSO.dot
SB+mfences+CLUSTER.dot
SB+mfences+FREE.dot
SB+mfences+GHB.dot
SB+mfences.dot
SB+rfi-pos+BIS.dot
SB+rfi-pos+TER.dot
SB+rfi-pos.dot
SB-00.dot
SB-01.dot
SB-02.dot
SB-03.dot
SB.dot
W+RR.dot
W+RW.dot
WR.dot
WRC.dot
WW.dot
