.c000{border-spacing:0;}
.c001{border-spacing:6px;border-collapse:separate;}
.c002{color:#661000}
.c003{color:blue}
.c004{font-family:monospace}
.c005{font-family:monospace;color:blue}
.c006{font-family:monospace;font-weight:bold}
.c007{font-family:sans-serif}
.c008{font-family:sans-serif;font-weight:bold}
.c009{font-size:small}
.c010{font-style:italic}
.c011{font-style:italic;color:maroon}
.c012{font-variant:small-caps}
.c013{text-align:center}
.c014{text-align:center;border:solid 1px;white-space:nowrap}
.c015{text-align:center;white-space:nowrap}
.c016{text-align:left;border:solid 1px;white-space:nowrap}
.c017{text-align:left;white-space:nowrap}
.c018{text-align:right;border:solid 1px;white-space:nowrap}
.c019{text-align:right;white-space:nowrap}
.c020{vertical-align:middle}
.c021{vertical-align:middle;text-align:left;}
.c022{vertical-align:top;text-align:center;border:solid 1px;white-space:nowrap}
.c023{vertical-align:top;text-align:left;}
.c024{vertical-align:top;text-align:left;border:solid 1px;}
.c025{vertical-align:top;text-align:left;white-space:nowrap}
.c026{width:80%;height:2}
.li-itemize{margin:1ex 0ex;}
.li-enumerate{margin:1ex 0ex;}
.dd-description{margin:0ex 0ex 1ex 4ex;}
.dt-description{margin:0ex;}
.footnotetext{margin:0ex; padding:0ex;}
div.footnotetext P{margin:0px; text-indent:1em;}
.thefootnotes{text-align:left;margin:0ex;}
.dt-thefootnotes{margin:0em;}
.dd-thefootnotes{margin:0em 0em 0em 2em;}
.caption{padding-left:2ex; padding-right:2ex; margin-left:auto; margin-right:auto}
.title{margin:2ex auto;text-align:center}
.titlemain{margin:1ex 2ex 2ex 1ex;}
.titlerest{margin:0ex 2ex;}
.center{text-align:center;margin-left:auto;margin-right:auto;}
div table{margin-left:inherit;margin-right:inherit;margin-bottom:2px;margin-top:2px}
td table{margin:auto;}
table{border-collapse:collapse;}
td{padding:0;}
.cellpadding1 tr td{padding:1px;}
pre{text-align:left;margin-left:0ex;margin-right:auto;}
blockquote{margin-left:4ex;margin-right:4ex;text-align:left;}
td p{margin:0px;}
.hbar{border:none;height:2px;width:100%;background-color:black;}
.display{border-collapse:separate;border-spacing:2px;width:auto; border:none;}
.dcell{white-space:nowrap;padding:0px; border:none;}
.dcenter{margin:0ex auto;}
.part{margin:2ex auto;text-align:center}
.showcenter{padding:0ex;width:80%;margin:2ex auto;}
a.syntax:link{color:maroon;text-decoration:underline}
a.syntax:visited{color:maroon;text-decoration:underline}
a.syntax:hover{color:black;text-decoration:none;background-color:#FF6060}
body{background-color:white}
a:link{color:#B21D00;text-decoration:underline;}
a:visited{color:#661000;text-decoration:underline;}
a:hover{color:black;text-decoration:none;background-color:#FFAA99}
.title{background-color:#B21D00}
.titlemain{background-color:#B21D00}
.titlerest{ackground-color:#B21D00}
.part{padding:1ex;background-color:#CC2100}
.section{padding:.5ex;background-color:#E54C2D}
.subsection{padding:0.3ex;background-color:#FF7F66}
.subsubsection{padding:0.5ex;background-color:#FFAA99}
.paragraph{padding:0.5ex;background-color:#FFD4CC}
.ffootnoterule{border:none;margin:1em auto 1em 0px;width:50%;background-color:#CC2100}
.ftoc1{list-style:none;margin:0ex 1ex;padding:0ex 1ex;border-left:1ex solid #CC2100}
.ftoc2{list-style:none;margin:1ex 1ex;padding:0ex 1ex;border-left:1ex solid #E54C2D}
.ftoc3{list-style:none;margin:0ex 1ex;padding:0ex 1ex;border-left:1ex solid #FF7F66}
.ftoc4{list-style:none;margin:0ex 1ex;padding:0ex 1ex;border-left:1ex solid #FFAA99}
