knames
ksort
madd
mapply
mcmp
mcompare
mcond
mcycles
mdiag
mdiff
mfilter
mfind
mflags
mhash
mlog2cond
mmixer
mnames
mobserved
moutcomes
mprog
mproj
mrcu
mselect
mshowhashes
msort
msum
mtopos
recond
splitcond
splitdot
